* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    align-items: baseline;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    margin: 8px 0;
    padding: 4px 8px;
    width: 100%;
}

.fruit-counters article button {
    margin: 0 8px;
    padding: 2px 8px;
    font-size: 16px;
    width: auto;
    cursor: pointer;
}

.fruit-counters button,
form button {
    margin: 8px 0;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
}

form,
.fruit-counters {
    width: 500px;
    padding: 8px 16px;
    margin: 8px;
    border: 1px solid #ededed;
}

textarea {
    display: block;
}

form section {
    margin: 20px 0 0 0;
}

label ~ input[type="text"],
label ~ input[type="number"] {
    margin-left: 8px;
    width: 300px;
}

.error {
    font-size: 12px;
    color: red;
    margin: 4px 0;
}
